- instance = db.instance_by_kind(@kind, @instance)
- unless instance
  %article
    %header
      %h2 Not Found
    %p
      Instance
      %strong= @instance
      of kind
      %strong= @kind
      was not found.
- else
  %article
    %header
      %h2
        %i{class: "iconoir-#{instance.class.icon} icon-#{instance.class.layer}"}
        .instance-title-text
          %span.instance-name= @instance
          %span.instance-kind-subtitle= @kind
      - if instance.annotations['generated/script']
        .generated-badge
          %span.generated-script
            by
            - script_name = instance.annotations['generated/script']
            %a{href: "/kinds/Import/instances/#{script_name}"}
              = script_name
          - if instance.annotations['generated/at']
            %span.generated-time
              generated
              = time_ago(instance.annotations['generated/at'])
    - if instance.has_relations?
      .graph-container
        #graphviz.canvas
        != graphviz_svg(create_graph_one(db, @kind, @instance), 'graphviz')
    - if instance.annotations['architecture/description']
      - git_url = instance.annotations['repository/git']
      - if instance.has_relations?
        %footer
          != markdown(instance.annotations['architecture/description'], git_url: git_url)
      - else
        != markdown(instance.annotations['architecture/description'], git_url: git_url)
  != haml :'partials/instance/_requirements', locals: { instance: instance }
  %article.documentation
    %header
      %h2 Details
    %table
      %thead
        %tr
          %th{scope: 'col'} Name
          %th{scope: 'col'} Value
      %tbody
        != haml :'partials/artifact/_git_info'
        != haml :'partials/artifact/_language_stats'
        != haml :'partials/artifact/_project_estimate'
        != haml :'partials/artifact/_repositories'
        != haml :'partials/artifact/_activity'
        != haml :'partials/artifact/_team'
        != haml :'partials/artifact/_deployment'
        != haml :'partials/artifact/_workflow'
        != haml :'partials/artifact/_agentic'
        != haml :'partials/artifact/_links'
        - instance.annotations.each do |k, v|
          - next if k == 'scc/languages' || k =~ /^scc\/language\/.+\/loc$/
          - next if k =~ /^scc\/estimated(Cost|ScheduleMonths|People)$/
          - next if k =~ /^activity\/(commits|contributors(\/(6m|total))?|status|busFactor|createdAt)$/
          - next if k == 'architecture/description'
          - next if k =~ /^repository\/(artifacts|git|visibility|)$/
          - next if k.start_with?('repository/artifacts/')
          - next if k == 'workflow/platforms'
          - next if k == 'workflow/types'
          - next if k == 'agentic/tools'
          - next if k.start_with?('link/')
          - next if k.start_with?('team/')
          - next if k.start_with?('jira/')
          - next if k.start_with?('generated/')
          - annotation_def = Archsight::Resources[@kind].annotation_matching(k)
          %tr
            %th{scope: 'row', title: annotation_def&.description}= annotation_def&.title || k.split('/').last.capitalize
            %td
              - format = Archsight::Resources[@kind].annotation_format(k)
              - case format
              - when :markdown
                != markdown(v, git_url: git_url)
              - when :tag_list
                .instance-badges
                  - v.split(',').map(&:strip).each do |val|
                    - badge_class = case k
                    - when 'repository/artifacts' then "deployment-#{val}"
                    - when 'workflow/platforms' then "workflow-#{val}"
                    - when 'workflow/types' then "workflow-#{val}"
                    - when 'agentic/tools' then "agentic-#{val}"
                    - else ''
                    %a.badge.badge-info{class: badge_class, **filter_link_attrs(k, val)}
                      = val
              - when :tag_word
                %a.badge.badge-info{**filter_link_attrs(k, v)}
                  = v
              - else
                - if v.is_a?(String) && v.start_with?(%r{https?://})
                  %a{ href: v, target: "_blank" }= v
                - else
                  = v
  != haml :"partials/instance/_relations", locals: { instance: instance }
